# Age verification, WIP

Help needed.

- POST /v1/age-verification/verify/document AgeVerificationPhotoIdMatchRequest AgeVerificationFaceTecResponse
- POST /v1/age-verification/session . AgeVerificationSessionResponse
- POST /v1/age-verification/verify/enrollment . AgeVerificationFaceTecResponse
- POST /v1/age-verification/verify/liveness3d AgeVerificationFaceTecRequest AgeVerificationFaceTecResponse
- GET /v1/age-verification/options . AgeVerificationOptionsResponse AgeVerificationOptionsResponse
